body{
margin:0;
font-family:Arial;
background:#f4f7f4;
}

header{
background:#0f3d2e;
color:white;
padding:15px;
}

nav ul{
list-style:none;
display:flex;
gap:15px;
padding:0;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#2e7d32;
color:white;
padding:80px 20px;
text-align:center;
}

.card{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
}

footer{
background:#0f3d2e;
color:white;
text-align:center;
padding:15px;
}
